<!-- FOOTER -->
<footer class="footer">
    <p>© 2025 Rotaract Club Trento — Tutti i diritti riservati</p>
    <div class="socials">
        <a href="https://www.instagram.com/rotaractclubtrento/" aria-label="Instagram">
            <img src="../media/homepage/icon_instagram.svg" alt="Instagram">
        </a>
        <a href="https://www.facebook.com/rotaracttrento/?locale=it_IT" aria-label="Facebook">
            <img src="../media/homepage/icon_facebook.svg" alt="Facebook">
        </a>
        <a href="mailto:info@iltuodominio.it" aria-label="Email">
            <img src="../media/homepage/icon_mail.svg" alt="Email">
        </a>
    </div>
</footer>
