<!-- HEADER -->
<header class="navbar">
    <div class="logo">
        <img src="../media/homepage/logo.png" alt="Rotaract Trento Logo">
        <h1>Rotaract Trento</h1>
    </div>
    <nav class="nav-links" id="main-nav" aria-label="Navigazione principale">
        <a href="index.html">Home</a>
        <a href="chi_siamo.html">Chi siamo</a>
        <a href="storia.html">Storia</a>
        <a href="calendario.html">Calendario</a>
        <a href="bollettini.html" id="link-bollettini">Bollettini</a>
        <a href="contatti.html">Contatti</a>
    </nav>
    <div class="menu-toggle" id="mobile-menu" role="button" aria-controls="main-nav" aria-expanded="false" tabindex="0">
        &#9776;
    </div>
</header>

